@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&subset=cyrillic-ext";
@import "https://fonts.googleapis.com/css?family=Raleway:100,400,500,700,900";
/* line 7, ../sass/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/main.scss */
html, body {
  height: 100%;
}

/* line 17, ../sass/main.scss */
::-webkit-scrollbar {
  display: none;
}

/* line 20, ../sass/main.scss */
::scrollbar {
  display: none;
}

/* line 24, ../sass/main.scss */
body {
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* line 29, ../sass/main.scss */
#open-blur {
  position: fixed;
  right: -10px;
  left: -10px;
  bottom: -20px;
  background: transparent;
  z-index: 93;
}

/* line 46, ../sass/main.scss */
.header {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: #3b3f45;
  padding: 20px;
  margin: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 95;
}

/* line 59, ../sass/main.scss */
.content {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url(../img/bg/LTK_pic_1.jpg) no-repeat center center;
  background-size: cover;
}

/* line 68, ../sass/main.scss */
.menu {
  position: absolute;
  height: 100%;
  width: 300px;
  top: 0;
  left: -300px;
  padding: 150px 0 0 0;
  background-color: #F36A71;
  z-index: 94;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* line 78, ../sass/main.scss */
.menu__open {
  left: 0;
}
/* line 81, ../sass/main.scss */
.menu__list {
  list-style-type: none;
  padding: 0;
}
/* line 85, ../sass/main.scss */
.menu__item {
  line-height: 100px;
  text-align: left;
  padding-left: 50px;
  color: #fffce1;
  font-family: Raleway;
  font-size: 40px;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* line 94, ../sass/main.scss */
.menu__item:hover {
  padding-left: 60px;
  font-size: 42px;
  background: rgba(255, 255, 255, 0.2);
}

/* line 103, ../sass/main.scss */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 100%;
  padding: 10px;
  background-image: -webkit-linear-gradient(45deg, #d4145a, #fbb03b);
  background-image: linear-gradient(45deg, #d4145a, #fbb03b);
  z-index: 99;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* line 116, ../sass/main.scss */
.footer_container {
  display: block;
  position: relative;
  max-width: 960px;
  height: 160px;
  margin: 0 auto;
}

/* line 125, ../sass/main.scss */
.ltk-player {
  position: relative;
  height: 100%;
  width: 100%;
}
