// main color palette
$w: #fff;
$b: #000;
$dark: #070507;
$bur_0: #180E15;
$bur_1: #2D1E26;
$bur_2: #4A3247;
$pink: #FF476A;


// other color's
$h-bg: $bur_0;



//UI
  //header
  $h-height: 100px;
  $h-width: 100%;
  $h-padding: 20px;
  $h-margin: 0;
